/* Defaults
--------------------------------------------------------------------------- */
a, a strong{color:#2173af; text-decoration:none;}
a:hover{text-decoration:underline;}
body{background:#fff url('../img/bg_head.jpg') repeat-x 0 0; color:#636b75; font:13px/18px Arial, sans-serif; margin:0; padding:0;}
h1{font:normal 30px/36px Arial, sans-serif; margin:0 0 18px 0; padding:0;}
strong{color:#3e434a;font-weight:bolder;font-size:medium;}
html, body, #site {height: 100%;min-width:980px;}
body > #site {height: auto; min-height: 100%;}

/* Body
--------------------------------------------------------------------------- */
#body{
	padding:30px 0 90px 0; 
	text-align:left;
	margin:0 auto;
	width:980px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.125em;
	padding-bottom: 100px;
}

/*navbar
-----------------------------------------------------------------------------*/
#navigation{
	font-family:Georgia, "Times New Roman", Times, serif;
	background:#061e4a url('../img/bg_nav.jpg') no-repeat center top; 
	height:55px; 
	width:100%;
	overflow:hidden;
	position:relative;
}

#navigation a{
	text-decoration:none;
	float:right;
	padding:15px;
	font-size:16px;
	color:#FFFFFF;
}

#navigation a:hover{
	opacity:.5;
	padding:15px;
}

#navigation-logo {
	text-decoration:none;
	float:left;
	padding-top:15px;
	font-size:24px;
	color:#FFFFFF;
}

/*footer
-----------------------------------------------------------------------------*/
#footer{
	font-family:Georgia, "Times New Roman", Times, serif;
	background:#061e4a url('../img/bg_foot.jpg') no-repeat center top; 
	height:55px; 
	width:100%;
	overflow:hidden;
	position: relative;
	margin-top: -55px;
	clear:both;
}

#footer a{
	text-decoration:none;
	float:right;
	padding:15px;
	font-size:16px;
	color:#FFFFFF;
}

#footer a:hover{
	opacity:.5;
	padding:15px;
}

#footer-logo {
	background:url('../img/sunlightfoundation_logo.png') no-repeat;
	text-decoration:none;
	float:left;
	margin-left:15px;
	font-size:24px;
	color:#FFFFFF;
	width:90px;
	height:44px;
}


/*container
---------------------------------------------------------------------------*/
.container {
	margin:0 auto; 
	width:980px;
}


/*head
--------------------------------------------------------------------------- */
#head{
	background: #0C3569 url('../img/bg_head.jpg') no-repeat center 55px; 
	height:180px; 
	margin:0 auto; 
	position:relative; 
	width:100%; 
	overflow:hidden;
}

#head h1{
	color:#FFFFFF;  
	margin-top:40px; 
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:left;
}

/*content table
----------------------------------------------------------------------------*/
.content-table {
	background: url(../img/line.png) repeat-x;
	width:100%;
}

.content-table td {
	padding: 1em 0 1em 0;
	font-size: 0.75em;
	vertical-align: top;
	width: 148px;
	background: url(../img/line.png) 0 100% repeat-x;
}

.content-table td.date p,
.content-table td.summary p {
	color: rgb(109, 116, 109);
}

.content-table td.summary {
	width: 312px;
}

.content-table td.date {
	width: 164px;
}

.content-table td.title {
	width: 328px;
	padding-right: 0;
}

.content-table td.title a {
	font-size: 3em;
	line-height: 1em;
	letter-spacing: -0.05em;
	padding-right: 16px;
	display: block;
}

/*infobox
----------------------------------------------------------------------------*/
#infobox{
	border:2px #616B87 solid; 
	padding:5px;
	height:265px;
	margin-bottom:40px;
}

#user_nav {
	float: right;
	font-size: 12px;
}

div.dateline {
  color: #999;
  font-size: 8pt;
}

/*post tabs
----------------------------------------------------------------------------*/
.hidden { position: absolute; left: 0; top: -500px; }

#tabs { width: 100%; overflow: hidden; background: #EFEFEF; border: 1px solid #DDD; }
#tabs-nav { width: 100%; height: 24px; overflow: hidden; padding: 0; margin: 0; list-style: none; background: #DDD; }
#tabs-nav li { float: left; padding: 0; margin: 0; overflow: hidden;}
#tabs-nav li a { float: left; display: block; padding: 0; margin: 0; font-size: 12px; text-decoration: none; color: #999; }
#tabs-nav li a:hover { background-color: #E5E5E5; }
#tabs-nav .active a, #tabs-nav .active a:hover { background-color: #EFEFEF; color: #000; }

#tabs-nav .tab-loading { display: block; width: 16px; height: 16px; overflow: hidden; float: left; padding: 4px 0 4px 10px; }
#tabs-nav .tab-loading img { border: 0; }
#tabs-nav .tab-label { display: block; overflow: hidden; padding: 5px 10px 5px 5px; }

#tabs-content { padding: 20px; }
#tabs-content h2 { margin: 0; }
#tabs-content p, #tabs-content ul { font-size: 12px; line-height: 18px; }
#tabs-content p { margin: 10px 0 0 0; }
#tabs-content ul { margin-top: 10px; }

#tab-1 a, #tab-1 a:hover { background: url("../img/question.png") 10px 4px no-repeat; }
#tab-2 a, #tab-2 a:hover { background: url("../img/idea.png") 10px 4px no-repeat; }
#tab-3 a, #tab-3 a:hover { background: url("../img/problem.png") 10px 4px no-repeat; }
#tab-4 a, #tab-4 a:hover { background: url("../img/praise.png") 10px 4px no-repeat; }