<% if current_user.is_admin? %>
<% title 'Admin - Manage Users' %>
<table>
<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.username, :controller => 'users', :action => 'show', :id => user.id %></td>
		<td><%= link_to 'Edit', :controller => 'users', :action => 'edit', :id => user.id %></td>
	</tr>
<% end %>
</table>
<% else %>
<% title 'Access Denied' %>
You do not have permission to view this page.
<% end %>