<% if current_user.is_admin? %>
<% title 'Admin - Manage Posts' %>
<table>
<% @posts.each do |post| %>
	<tr>
		<td><%= link_to post.title, :controller => 'posts', :action => 'show', :id => post.id %></td>
		<td><%= link_to 'Edit', :controller => 'posts', :action => 'edit', :id => post.id %></td>
	</tr>
<% end %>
</table>
<% else %>
<% title 'Access Denied' %>
You do not have permission to view this page.
<% end %>