<% title "Categories" %>
<ul id="crumbs">
	<li><%= link_to "Home", :controller => 'posts', :action => 'index', :subdomain => 'www' %></li>
	<li>Categories</li>
</ul>
<ul>
<% @categories.each do |category| %>
	<li><%= link_to category.name, :controller => 'categories', :action => 'show', :id => category.id %></li>
<% end %>
</ul>