<!--display all of a member's relevant posts-->
<h4>Constituent Posts</h4>
<ul>
    <% @posts.each do |post| %>
	<% if post.member_id == @member.id %>
	    <li>
	        <%= h post.title %>
			<%= link_to 'Read', post %>
			<%= link_to 'Respond', :controller => 'responses', :action => 'new', :id => post.id%>
	    </li>
	<% end %>
    <% end %>
</ul>