<!--display all of a member's relevant posts-->
<h4>Constituent Posts</h4>
<table>
    <% @posts.each do |post| %>
	<% if post.member_id == @member.id %>
	    <tr>
	        <td><%= h post.title %></td>
			<td><%= link_to 'Read', post %></td>
			<% if current_member %>
			<% if current_member.id == @member.id %>
			<td><%= link_to 'Respond', :controller => 'responses', :action => 'new', :id => post.id %></td>
			<% end %>
			<% end %>
	    </tr>
	<% end %>
    <% end %>
</table>